.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 100%;
  padding: 1em 3.2rem;

  button,
  input {
    font-family: inherit;
    border: 2px solid #333;
    font-size: 100%;
    border-radius: 5px;
  }

  input {
    width: 80%;
    height: 3.2rem;
    margin: 1.2rem 0;
    padding: 0.5rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    width: 80%;
    height: 3.2rem;
    margin: 1.2rem 0;
    background-color: #fc8019;
    color: #fff;
  }
}

img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
